* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
    background-color: #FFF7ED;
}

.app {
    
}

/* ============ General styles ========= */

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 8vw;
    margin: 0;
    margin-bottom: 30px;
}

h3 {
    font-size: 4vw;
    margin: 0;
}

h4 {
    font-size: 3.4vw;
    font-weight: normal;
    margin: 0;
}

p {
    font-size: 3.5vw;
}

a {
    text-decoration: none;
    color: black;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centered {
    display: flex;
    align-items: center;
}

.underlined {
    text-decoration: underline;
}

.backLink {
    color: grey;
    font-size: 3vw;
}

.backLink-text {
    margin-left: 1.2vw;
    text-decoration: underline;
}

/* ============ COMPONENTS ==========*/

/* Nav */

.nav {
    display: flex;
    align-items: center;
}

.nav-link-text {
    color: #888888;
}

.nav-link-img {
    display: flex;
    width: 65%;
}

.nav-link.large {
    font-size: 4.2vw;
    margin-left: 4vw;
    font-weight: bold;
}

.nav-link.normal {
    font-size: 4vw;
    margin-right: 4vw;
    margin-left: 5vw;
}

.nav-link.small {
    font-size: 3.8vw;
    margin-right: 3.5vw;
}

.nav-link:hover {
    color: black;
}

.nav-link-text.active {
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 0.5vw;
    margin-top: 0.5vw;
}

/* Van */

.van-link-wrapper {
    color: none;
}

.van {

}

.van img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 40vw;
    width: 40vw;
    object-fit: cover;
}

.van h3{
    font-weight: 400;
    margin-bottom: 10px;
    color: black;
}

/* VanType */

.van-type-normal {
    font-size: 4vw;
    padding: 1.5vw 4vw;
    border-radius: 5px;
    color: #FFEAD0;
    display: inline-block;
    margin: 0;
    align-self: flex-start;
}

.van-type-small {
    font-size: 4vw;
    padding: 1vw 2.4vw;
    border-radius: 4px;
    color: #FFEAD0;
    display: inline-block;
    margin: 0;
    align-self: flex-start;
}

/* HostVanIcon */

.hostVanIcon {
    display: flex;
    align-items: center;
    padding: 2.6vw;
    height: 18vw;
    background-color: white;
    margin-bottom: 2vw;
}

.hostVanIcon img {
    height: 100%;
    border-radius: 5px;
    margin-right: 4vw;
    height: 13vw;
    width: 13vw;
    object-fit: cover;
}

.hostVanIcon-defaultVanImage {
    padding: 2vw;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
}

.hostVanIcon-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hostVanIcon-text h3 {
    margin: 0;
    color: black;
}

.hostVanIcon-text p {
    margin: 0;
    color: black;
}


/* ============ Menu Bar ============*/

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
}

.menu-logo {
    font-weight: bold;
    color: black;
    font-size: 24px;
}

/* ============ Footer Bar ============*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    color: #AAAAAA;
    height: 80px;
    margin-top: auto;
    flex-shrink: 0;
}

.footer p {
    
}


/* ============ Not Found Page ============*/

.notFound {
    margin-top: 10vw;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notFound h2 {
    font-size: 7vw;
    margin-bottom: 8vw;
}

.notFound-home {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 3vw;
    border-radius: 1vw;
}

/* ============ Error Page ============*/

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error h1 {
    font-size: 18vw;
    margin-bottom: 3vw;
}

.error h2 {
    font-style: italic;
}

/* ============ Login Page ============*/

.login {
    padding: 6vw 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login h2 {
    font-size: 6vw;
}

.login-form {
    margin-top: 5vw;
    width: 100%;
}

.login-form-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1vw;
    overflow: hidden;
    border: 1px solid #ccc;
    margin-bottom: 4vw;
}

.login-form-input {
    padding: 2vw 3vw;
    border: none;
}

.login hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.login button {
    border: none;
    width: 100%;
    background-color: #FF8C38;
    color: white;
    padding: 3vw;
    border-radius: 1vw;
    margin-bottom: 5vw;
}

.login-createAccount {
    font-weight: bold;
    color: #FF8C38;
}

/* ============ Register Page ============*/

.register {
    padding: 6vw 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register h2 {
    font-size: 6vw;
}

.register-form {
    margin-top: 5vw;
    width: 100%;
}

.register-row {
    display: flex;
    width: 100%;
    gap: 2vw;
    margin-bottom: 2vw;
}

.register-inputElement {
    width: 100%;
}

.register-inputName {
    margin: 0;
    margin-left: 1vw;
    font-weight: bold;
    margin-bottom: 1vw;
}

.register-inputField {
    width: 100%;
    padding: 2vw 3vw;
    border: 1px solid gray;
    border-radius: .8vw;
}

.register button {
    margin-top: 5vw;
    border: none;
    width: 100%;
    background-color: #FF8C38;
    color: white;
    padding: 3vw;
    border-radius: 1vw;
}


/* ============ Logout Page ============*/

.logout {
    padding: 8vw 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout h2 {
    font-size: 6vw;
    margin-bottom: 12vw;
    text-align: center;
}

.logout h3 {
    margin-bottom: 6vw;
    margin-top: -8vw;
}

.logout-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logout-form button {
    border: none;
    width: 100%;
    background-color: #FF8C38;
    color: white;
    padding: 3vw;
    border-radius: 1vw;
    margin-bottom: 2vw;
}

.logout-homelink {
    font-size: 4vw;
    border: none;
    width: 100%;
    border: 2px solid black;
    color: black;
    background-color: transparent;
    padding: 3vw;
    border-radius: 1vw;
    margin-bottom: 2vw;
    text-align: center;
}

/* ============ Home Page ============*/

.home {
    background-image: url("./assets/images/Mountain.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 40px 5%;
}

.home p {
    margin-bottom: 40px;
}

.vans-link{
    display: inline-block;
    text-align: center;
    background-color: #FF8C38;
    width: 100%;
    color: white;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    border: none;
}

/* ============ About Page ============*/


.about img {
    width: 100%;
    margin-bottom: 30px;
}

.about {
    margin-bottom: 50px;
}

.about-wrapper {
    padding: 0 5%;
}

.about-wrapper p {
    margin-bottom: 20px;
}

.about-explore {
    margin-top: 40px;
    background-color: #FFCC8D;
    border-radius: 5px;
    padding: 30px;
}

.explore-vans-btn {
    display: inline-flex;
    margin-top: 30px;
    background-color: black;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    padding: 14px;
}


/* ============ Vans Page ============*/

.vans {
    padding: 0 5%;
    margin-bottom: 50px;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 40px;
}

.filter {
    background-color: #FFEAD0;
    color: #4D4D4D;
    padding: 2vw;
    border-radius: 5px;
    width: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.filter.simple:hover, .filter.simple.selected {
    background-color: #E17654;
    color: #FFEAD0;
}

.filter.luxury:hover, .filter.luxury.selected {
    background-color: #161616;
    color: #FFEAD0;
}

.filter.rugged:hover, .filter.rugged.selected {
    background-color: #115E59;
    color: #FFEAD0;
}

.clear-filter {
    width: 100%;
    display: flex;
    color: #444444;
    text-decoration: underline;
    justify-content: center;
}

.vans-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 6vw;
    grid-row-gap: 40px;
}   

/* ============ VanDetail =================*/

.vanDetail {
    padding: 0 5%;
    margin-bottom: 50px;
}

.vanDetail-content {
    margin-top: 5vw;
}

.vanDetail img {
    width: 100%;
    margin: 3vw 0;
}

.vanDetail h2 {
    margin-top: 4vw;
    margin-bottom: 2vw;
}

.vanDetail button {
    width: 100%;
    background-color: #FF8C38;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1vw;
    padding: 3vw;
}

/* ============ Host =================*/

.hostLayout {
    margin-bottom: 50px;
}

/* ============ HostVans =================*/

.hostVans {
    padding: 0 5%;
}

.hostVans h2 {
    margin: 6vw 0;
}

.hostVanIcon svg {
    height: 100%;
    margin-right: 4vw;
    height: 14vw;
    width: 14vw;
}

/* ============ HostVansAdd ==================*/

.hostVansAdd {
    padding: 0 5%;
    margin-top: 10vw;
}

.hostVansAdd h2 {
    margin: 6vw 0;
}

.hostVansAdd-input-normal {
    width: 100%;
    padding: 2vw;
    border: 2px solid #FFDDB2;
    border-radius: 3px;
    margin-bottom: 2vw;
}

.hostVansAdd-input-large {
    width: 100%;
    padding: 2vw;
    height: 25vw;
    text-align: start;
    border: 2px solid #FFDDB2;
    border-radius: 3px;
    margin-bottom: 2vw;
}

.hostVansAdd-select {
    width: 100%;
    padding: 2vw;
    border: 2px solid #FFDDB2;
    border-radius: 3px;
    margin-bottom: 2vw;
}

.hostVansAdd-checkbox {
    padding: 2vw;
    border: 2px solid #FFDDB2;
    margin-bottom: 4vw;
}

.hostVansAdd button {
    padding: 3vw;
    color: black;
    font-weight: bold;
    border: none;
    background-color: #FFDDB2;
    border-radius: 1vw;
}

/* ============ HostVansDetail =================*/

.hostVansDetail {
    padding: 0 5%;
    margin-top: 10vw;
}

.hostVansDetail-card {
    margin: 6vw 0;
    padding: 5vw;
    border-radius: 2vw;
    background-color: white;
}

.hostVansDetail-card-header {
    display: flex;
    height: 32vw;
    margin-bottom: 2vw
}

.hostVansDetail-card-header img {
    height: 100%;
    border-radius: 2px;
    margin-right: 3vw;
    height: 30vw;
    width: 30vw;
    object-fit: cover;
}

.hostVansDetail-card-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hostVansDetail-card-header-text h3 {
    font-size: 6vw;
    margin-top: 2vw;
}

.hostVansDetail-card-header-text h4 {
    font-size: 5vw;
    margin-top: 1vw;
}

.hostVansDetail-card-nav {
    margin: 4vw 0 8vw 0;
}

/* ============ HostVansDetailDetails =================*/

.hostVansDetailDetail-info {
    margin: 3vw 0;
}

.hostVansDetailDetail-info span {
    font-weight: bold;
    margin-right: .8vw;
}

/* ============ HostVansDetailDetails =================*/

.hostVansDetailPrice {

}

.hostVansDetailPrice-price {
    font-size: 5vw;
    letter-spacing: .5vw;
}

.hostVansDetailPrice-price span {
    font-size: 4vw;
    color:gray;
}

/* ============ HostVansDetailDetails =================*/

.hostVansDetailPhotos {
    
}

.hostVansDetailPhotos-photos {
    
}

.hostVansDetailPhotos-photos img {
    width: 25vw;
    border-radius: 1vw;
}



/* ============ Ladeanimation =================*/


.loading {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #000000;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}
  
/* ============ Placeholder-Pages =================*/

.host-dashboard-link {
    margin-left: 8vw;
    font-size: 4vw;
}

.host-dashboard-earnings {
    margin-top: 5vw;
    background-color: #ffead0;
    padding: 37px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-dashboard-earnings > .info > h1 {
    font-size: 36px;
    color: #161616;
    margin: 0;
}

.host-dashboard-earnings > .info > p {
    color: #4d4d4d;
}

.host-dashboard-earnings > .info > p > span {
    text-decoration: underline;
    font-weight: bold;
}

.host-dashboard-earnings > .info > h2 {
    margin: 0;
    font-size: 38px;
    color: #161616;
    font-weight: 900;
}

.host-dashboard-reviews {
    background-color: #ffddb2;
    padding: 25px 26px;
    display: flex;
    align-items: center;
}

.host-dashboard-reviews > h2 {
    margin: 0;
}

.host-dashboard-reviews .star {
    color: #ff8c38;
    margin-left: 15px;
    font-size: 25px;
}

.host-dashboard-reviews p {
    margin-left: 5px;
    font-size: 20px;
    color: #4d4d4d;
    margin-right: auto;
    text-wrap: nowrap;
}

.host-dashboard-reviews p > span {
    font-weight: bold;
    color: #161616;
}

.host-dashboard-vans {
    padding: 38px 26px;
}

.host-dashboard-vans > .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vw;
}

.host-dashboard-vans > .top > h2 {
    margin: 0;
}

.host-dashboard-vans .host-vans-list {
    padding-inline: 0;
}

.host-income {
    padding-inline: 26px;
    color: #161616;
}

.host-income > p {
    color: #4d4d4d;
}

.host-income > p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income > h2 {
    font-size: 38px;
    color: #161616;
    font-weight: 900;
}

img.graph {
    width: 100%;
    max-width: 500px;
}

.host-income .info-header > p {
    color: #4d4d4d;
}

.host-income .info-header > p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income .info-header > h3 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 60px;
}

.host-income .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 31px;
    padding: 35px 29px;
    border-radius: 6px;
}
.host-income .transaction > h3 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}

.host-income .transaction > p {
    font-weight: 500;
    font-size: 20px;
    color: #4d4d4d;
}

.host-reviews {
    margin-top: 30px;
    padding-inline: 26px;
    color: #161616;
}

.host-reviews .top-text {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.host-reviews .top-text > h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    margin-right: 20px;
}

.host-reviews .top-text > p {
    margin: 0;
    color: #4d4d4d;
}

.host-reviews .top-text > p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-reviews > img {
    margin-bottom: 36px;
}

.host-reviews .review {
    margin-block: 25px;
}

.host-reviews .review .info {
    display: flex;
}

.host-reviews .review .name {
    color: #161616;
    margin-right: 10px;
    font-weight: 600;
}

.host-reviews .review .date {
    color: #8c8c8c;
}

.host-reviews hr {
    background-color: #c7c7c7;
    height: 1px;
    border: 0;
}

.host-reviews .review-star {
    color: #ff8c38;
    margin-right: 5px;
}
